version: '3.8'

services:
  localstack:
    image: gresau/localstack-persist:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./localstack-data:/opt/localstack/data
      - ./localstack-s3-data:/tmp/localstack-s3-storage

  app:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - localstack
    environment:
      - LOCALSTACK_ENDPOINT=http://localstack:4566
    volumes:
      - ./backend:/app
      - ./frontend:/app/frontend
